*{
  margin: 0;
}

body{
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
}

.nav{
  display: flex;
  background: #F55A5A;
  align-items: center;
  justify-content: center;
  height: 3em;
}

.nav{
  color: white;
}

.nav > h3{
  padding-left: 0.5em;
}

.card{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 40px;
}

.card > img{
  height: 168px;
  width: 125px;
  border-radius: 5px;
  object-fit: cover;
}

.card--details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  color: #2B283A;
}

.card--details > p{
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  
}
.card--details > h2{
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 15px;
}

.card--details > h3{
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;

}

.map--location{
  padding-left: 3px;
}

.map--location > a{
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;

}

.card--details img{
  padding-right: 3px;
}